#h1Id{
    color: chocolate;
}
#imgId{
    width: 400px;
}
#thirdDiv{
    width: 500px;
    height: 600px;
    background-color: chocolate;
    padding: 50px;
    border: 10px solid;
    border-color: black;
}
#spanId{
    font-size: 18px;
    margin: 50px;
}